<div class="nav">
  <div class="container">
    <div class="nav-logo">
      <img src="/images/logo.png">
      <% if !current_user %>
    <div>
      <%= link_to '註冊會員', new_user_registration_path , :class => "nav-login" %>
    
      <%= link_to '登入', new_user_session_path , :class => "nav-login" %>
      <% else %> 
              Hi!, <%= current_user.name %>
               <%= link_to("登出", destroy_user_session_path, :method=>'delete') %> 
    </div>
      <% end %>
</div>