<div class="nav">
  <div class="container">
    <div class="nav-logo">
      <img src="http://cdn.clickme.net/Gallery/2011/09/15/671fb54cd09a99268071f52e80d9925f.jpg">
    </div>
    <a class="nav-login">
      登入
    </a>
  </div>
</div>