<div id="hero">
  <div class="hero-left">
    <h1>你想吃什麼<img src="/images/yellow-logo.png" alt="" style="margin-bottom: -30px;"></h1>
    <div class="desc">
      <p>更好的創意料理，從挑選顏色開始</p>
      <small>以往每一餐的食材，吃不完卻不曉得要如何處理，逃離不了廚餘的命運。</small>
      <small>但自從用了菜色之後...</small>
    </div>
    <a class="cta btn" href="#">用顏色，找菜色</a>
  </div>
  <div class="hero-right">
    <div class="hero-photo animated fadeInRight">
      <img src="/images/stock.png">
    </div>
  </div>
</div>
<div id="story" class="animatedParent" data-sequence="1000" data-appear-top-offset>
  <div class="story-content animated fadeInLeft" data-id="1">
<!--     <div class="story-dialog left">
      <img src="http://www.dse.vic.gov.au/__data/assets/image/0018/105831/cartoon1.jpg" alt="">
      <div class="desc desc--left"></div>
    </div> -->
    <div class="story-dialog right animated fadeInRight" data-id="2">
      <!-- <img src="http://poweredbycoaching.com/site/wp-content/uploads/2014/08/community.jpg" alt=""> -->
      <div class="desc desc--right">
        <p>自從發現 "菜色" 之後，從此冰箱的食材，不再是雜菜鍋。</p>
        <p>滿足你的視覺饗宴，從挑選顏色開始。</p>
        <p>盡情揮灑自已的創意料理，分享你的美味食譜。</p>
      </div>
    </div>
  </div>
</div>
<div id="step" class="animatedParent" data-sequence="1000" data-appear-top-offset>
  <h1>菜色三步驟</h1>

  <div class="step-section left">
    <div class="img animated fadeIn">
      <img src="/images/story1.png">
    </div>
    <div class="content"  title="1">
      <h2>選一個顏色 - 探索繽紛色彩的食材</h2>
      選取顏色可以用來查詢相關色調的食譜，如果您還不曉得要做什麼料理，不彷參考冰箱裡的食材有什麼顏色。
    </div>
  </div>
  <div class="step-section right">
    <div class="img animated fadeIn">
      <img src="/images/story2.png">
    </div>
    <div class="content right-content" title="2">
      <h2>找你的菜色 - 挑選食譜</h2>
      <strong>重新上菜</strong><p>想要一個新花樣嘛？輕鬆一個點擊，新的一組菜色又會出爐囉。</p>
      <strong>放到清單</strong><p>現在沒時間料理他現在沒時間料理它？沒問題，先放到清單內保存起來，下次可以重這裡出發，收藏它，讓作者知道你喜歡它。</p>
      <strong>開始料理</strong><p>準備好了嗎？翻轉你的料理習慣，從這邊開始你的創意手藝。</p>
    </div>
  </div>
  <div class="step-section left">
    <div class="img animated fadeIn">
      <img src="/images/story3.png">
    </div>
    <div class="content left-content" title="3">
      <h2>手藝不私藏 - 分享你的創意食譜</h2>
      <p><strong>料理無國界</strong>一個人的私房菜自己享受太孤單了，來把你的創意料理和全世界分享吧。</p>
      <p>只要能分享意義非凡的食譜，無論是祖傳秘方或是小確幸料理，通過菜色，拓展你的視界。</p>
      <p>或許你就是下一個被發覺的 Jamie Oliver ~</p>
    </div>
  </div>
</div>

<div id="call-to-action">
  <div class="triangle-border">
    <p>看著冰箱內的食材，總是沒有想法....</p>
    <p>該怎麼做出一道色香味俱全的菜呢？</p>
  </div>
  <a href="" class="cta">立即開始，打造創意菜色</a>
</div>
