<div id="hero">
  <div class="hero-left">
    <h1>你想吃什麼菜色</h1>
    <div class="desc">
      拉拉山，又名達觀山，位於桃園市復興區和新北市烏來區交界，海拔2,031公尺
    </div>
    <a class="cta btn" href="#">用顏色，找菜色</a>
  </div>
  <div class="hero-right">
    <div class="hero-photo">
      <img src="">
    </div>
  </div>
</div>
<div id="story">

</div>
<div id="step">

</div>