<div id="SaveRiver" class="River">
  <div class="River-wrapper">

    <div class="River-recipe">
      <img src="http://www.joomlaworks.net/images/demos/galleries/abstract/7.jpg" alt="" />
    </div>
    <div class="River-recipe">
      <img src="http://www.joomlaworks.net/images/demos/galleries/abstract/7.jpg" alt="" />
    </div>
    <div class="River-recipe">
      <img src="http://www.joomlaworks.net/images/demos/galleries/abstract/7.jpg" alt="" />
    </div>
  </div>
</div>