<div id="SaveRiver" class="River">
  <div class="River-wrapper">
  </div>
  <%= form_tag lists_path, method: :post do%>
    <%= hidden_field_tag 'recipe_ids' %>
    <%= submit_tag '親自下廚，大顯身手', class: 'River-gogo cta' %>
  <% end %>
  <!-- <div class="River-gogo cta"> -->
</div>