<div id="SaveRiver" class="River">
  <div class="River-wrapper">

    <div class="River-recipe">
      <img src="http://www.joomlaworks.net/images/demos/galleries/abstract/7.jpg" alt="" />
      <div class="js-recipe-delete River-delete">x</div>
    </div>
    <div class="River-recipe">
      <img src="http://www.joomlaworks.net/images/demos/galleries/abstract/7.jpg" alt="" />
      <div class="js-recipe-delete River-delete">x</div>
    </div>
    <div class="River-recipe">
      <img src="http://www.joomlaworks.net/images/demos/galleries/abstract/7.jpg" alt="" />
      <div class="js-recipe-delete River-delete">x</div>
    </div>
  </div>
  <div class="River-gogo cta">
  <strong>親自下廚</strong>
  <strong>大顯身手</strong>
  </div>
</div>