<div class="select-color-area">
  <div class="container">
    <div class="row">
      <div class="col-md-4 ColorSelector clearfix">
        <div id="doughnutChart" class="chart"></div>
        <div class="row">
          <div id="reset-btn" class="cta cta--reset btn-lg col-md-3">重置</div>
          <div id="suggestion-btn" class="cta btn-lg col-md-9">取得菜色</div>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 DishResult clearfix">

      </div>
    </div>
  </div>
</div>