<div class="select-color-area">
  <div class="container">
    <div class="row">
      <div class="col-md-4 ColorSelector clearfix">
        <div id="doughnutChart" class="chart"></div>
        <div class="row">
          <div id="reset-btn" class="cta cta--reset btn-lg col-md-3">重置</div>
          <div id="suggestion-btn" class="cta btn-lg col-md-9">取得菜色</div>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 DishResult clearfix">
        <div class="Recipe">
          <div class="Recipe-photo">
            <img src="/images/stock.png">
          </div>
          <div class="Recipe-info">
            <h2>超級無敵海景佛跳牆</h2>
            <div class="colors">
              <span class="ColorSym red"></span>
              <span class="ColorSym black"></span>
              <span class="ColorSym blue"></span>
            </div>
            <div class="desc">
              芝麻是我最愛的料理食材，我幾乎每天都會用在料理中！
              可稍微烤過芝麻然後搭配米飯，或拌入沙拉裡一起吃...
            </div>
          </div>
          <div class="Recipe-checkbox">
            <div class="cta">儲存</div>
          </div>
        </div>
        <div class="Recipe">
          <div class="Recipe-photo">
            <img src="/images/stock.png">
          </div>
          <div class="Recipe-info">
            <h2>超級無敵海景佛跳牆</h2>
            <div class="colors">
              <span class="ColorSym red"></span>
              <span class="ColorSym black"></span>
              <span class="ColorSym blue"></span>
            </div>
            <div class="desc">
              芝麻是我最愛的料理食材，我幾乎每天都會用在料理中！
              可稍微烤過芝麻然後搭配米飯，或拌入沙拉裡一起吃...
            </div>
          </div>
          <div class="Recipe-checkbox">
            <div class="cta">儲存</div>
          </div>
        </div>
        <div class="Recipe">
          <div class="Recipe-photo">
            <img src="/images/stock.png">
          </div>
          <div class="Recipe-info">
            <h2>超級無敵海景佛跳牆</h2>
            <div class="colors">
              <span class="ColorSym red"></span>
              <span class="ColorSym black"></span>
              <span class="ColorSym blue"></span>
            </div>
            <div class="desc">
              芝麻是我最愛的料理食材，我幾乎每天都會用在料理中！
              可稍微烤過芝麻然後搭配米飯，或拌入沙拉裡一起吃...
            </div>
          </div>
          <div class="Recipe-checkbox">
            <div class="cta">儲存</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>