<div class="select-color-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ColorSelector clearfix">
        <div id="doughnutChart" class="chart"></div>
      </div>
      <div class="col-md-6 DishResult clearfix">

      </div>
    </div>
  </div>
</div>

<% content_for(:javascript) do %>
<script type="text/javascript">
  $(function(){
    $("#doughnutChart").drawDoughnutChart([
      { title: "Tokyo",         value : 120,  color: "#2C3E50" },
      { title: "San Francisco", value:  80,   color: "#FC4349" },
      { title: "New York",      value:  70,   color: "#6DBCDB" },
      { title: "London",        value : 50,   color: "#F7E248" },
      { title: "Sydney",        value : 40,   color: "#D7DADB" },
      { title: "Berlin",        value : 20,   color: "#FFF" }
    ]);
    // $("#doughnutChart").html("")
    // $("#doughnutChart").drawDoughnutChart([
    //   { title: "Tokyo",         value : 120,  color: "#2C3E50" },
    //   { title: "San Francisco", value:  80,   color: "#FC4349" },
    //   { title: "New York",      value:  70,   color: "#6DBCDB" }
    // ]);
  });

</script>
<% end %>