<div class="popover" role="tooltip" style="display: block">
  <div class="arrow"></div>
  <h3 class="popover-title">新增你要的顏色</h3>
  <div class="popover-content">
    <button class="AddColorBtn red"   data-color="red" data-id="0"></button>
    <button class="AddColorBtn yellow" data-color="yellow" data-id="1"></button>
    <button class="AddColorBtn green"   data-color="green" data-id="2"></button>
    <button class="AddColorBtn blue"   data-color="blue" data-id="3"></button>
    <button class="AddColorBtn brown" data-color="brown" data-id="4"></button>
    <button class="AddColorBtn black"   data-color="black" data-id="5"></button>
    <button class="AddColorBtn white"   data-color="white" data-id="6"></button>
  </div>
</div>

<%= render partial: 'recommendation/suggestion' %>

<%= render partial: 'recommendation/save_for_later' %>