// *************************************
//
//   ColorSym
//   -> .
//
// *************************************

.ColorSym
  display: inline
  width: 20px
  height: 10px
  box-shadow: 0

// -------------------------------------
//   Modifiers
// -------------------------------------

// -------------------------------------
//   States
// -------------------------------------

// -------------------------------------
//   Context
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------